*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-radius: 10%;
   
  

}
/* @media (condition) {} */

@media (max-width:600px){
    #box{
        height: 200px;
        width: 200px;
        border-radius: 10%;
        background-color: cadetblue;
    }

}