*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: flex;
   
}
#child1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
#child2{
    width: 200px;
    height: 200px;
    background-color: rgb(43, 153, 226);
}
#child3{
    width: 200px;
    height: 200px;
    background-color: rgb(226, 43, 180);
}