*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
   
}
/* .child{
    height: 100px;
    width: 100vw;
} */

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    grid-auto-flow: row;
    grid-auto-flow: dense; */

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

   
   


}

.child{
    display: flex;
    justify-content: center;
    align-items: center;
    
   

}
p{
    font-size: 30px;
    font-weight: 500;
    color: rgb(54, 54, 54);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#child1{
    height: 100px;
    width: 100px;
    background-color: rgb(235, 129, 147);
    border: 2px solid white;
    align-self: center;
    justify-self: center;

}
#child2{
    
    background-color: rgb(70, 175, 175);
    border: 2px solid white;

}

#child3{
    
    background-color: rgb(129, 236, 129);
    border: 2px solid white;

}
#child4{
    
    background-color: rgb(135, 83, 231);
    border: 2px solid white;

}